#body-black {
    color: #7c7868;

    a {
        color: #7c7868;
    }
    h1, h2, h3, h4, h5, h6 {
        color: #e1d59f;
    }
    
    &.page-site {

        .page-heading {

            h1, h4 {
                color: #e1d59f;
            }
            h1 {
                border-bottom-color: #e1d59f;
            }
        }
        .page-image {
            margin-bottom: -16em;
        }
        .page-moto {
            color: #e1d59f;
        }
        h3 {

            &.i1 {
                margin-top: 1.2em;
                width: 53%;
            }
            &.i2 {
                width: 72%;
                margin-top: 1em;
            }
            &.i3 {
                margin-top: 4.5em;
                width: 49%;
            }
            &.i4 {
                width: 55%;
            }
        }
        .page-image-full {
            background-image: url('../img/pages/gold-power/img4.jpg');
        }
    }
}