/********************* Страницы сайта (Pages) *********************/

/*** Главная (Home) ***/
#body-white.page-home {

    .header-inner {
        background: rgba(0, 0, 0, 0.7);
        border-bottom-color: #323234;
    }
    #header .logo {
        background-image: url('../img/black/1x/logo.png') !important;
    }
    #topmenu {

        ul {
            background: rgba(0, 0, 0, 0.8);
        }
        a {
            color: #dcdcdc;

            &:hover {
                color: #fff;
            }
        }
        .arrow {
            background: url('../img/black/1x/topmenu-arrow.png') 100% 52% no-repeat;
        }
    }
}

/*** Retina ***/
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    #body-white {

        &.page-home #header .logo {
            background-image: url('../img/black/2x/logo.png') !important;
        }
    }
}

/*** Блог (Blog) ***/
.page-blog {

    .blog {
        border-right-width: 1px;
        border-right-style: solid;
        float: left;
        height: 330px;
        width: 50%;
        margin-left: -1px;
        overflow: hidden;
        text-align: center;

        img {
            max-width: 100%;
        }
        p {
            margin: 0.3em 0;
            font-size: 80%;
            font-style: italic;
        }
        h3 {
            display: block;
            overflow: hidden;
        }
    }
}

/*** Галерея (Gallery) ***/
.page-gallery {

    .gallery {
        float: left;
        clear: both;
        overflow: hidden;
        margin-bottom: 2.5em;
        width: 100%;

        img {
            width: 33.33%;
            float: left;
            margin: 0;
        }
    }
}

/*** Поиск (Search) ***/
.page-search {

    .search-block {
        float: left;
        clear: both;
        overflow: hidden;
        margin-bottom: 2.5em;
        width: 100%;

        ul {
            margin: 0;
            padding: 0;
            display: block;

            li {
                display: block;
                line-height: 175%;

                &:before {
                    content: '\2014  ';
                }
                & a:after {
                    content: ' \2192';
                }
            }
        }
    }
    .gallery {

        img {
            max-width: 151px;
            float: left;
            margin: 0 6px 6px 0;

            &.end {
                margin-right: 0;
            }
        }
    }
}

/*** Страница сайта (Site Page) ***/
.page-site {

    .page-image {
        border: none !important;
        display: block;
        margin: -@header-size-height - 1 auto 0;
    }
    .page-heading {
        float: left;
        clear: both;
        text-align: center;
        width: 100%;

        h1, h4 {
            font-family: @font-secondary;
            font-size: 120.0%;
            font-style: normal;
            margin: 0.5em 0 0.3em;
            text-transform: uppercase;
            letter-spacing: -0.05em;
        }
        h1 {
            border-bottom-width: 1px;
            border-bottom-style: solid;
        }
        span {
            font-size: 300%;
            display: block;
            clear: both;
            margin-top: 0.1em;
        }
    }
    .page-moto {
        float: left;
        clear: both;
        text-align: right;
        margin-bottom: 2em;
        width: 100%;

        span {
            font-size: 80%;
        }
    }
    .page-images {
        clear: both;
        float: left;
        width: 100%;

        p {
            float: left;
            display: block;
            width: 50%;
        }
        img {
            margin-bottom: 1.5em;
            border-width: 1px;
            border-style: solid;
        }
    }
    .page-image-full {
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        display: block;
        overflow: hidden;
        clear: both;
        margin-bottom: 1em;
        width: 100%;
        height: 500px;
    }
    .page-columns {
        clear: both;
        overflow: hidden;
        margin-bottom: 3.5em;

        div {
            float: left;
            width: 32%;
            margin-left: 2%;

            &:first-child {
                margin-left: 0;
            }
        }
    }
    .page-product-info {
        clear: both;
        float: left;
        overflow: hidden;
        position: relative;
        width: 100%;

        img {
            float: right;
            border: none !important;
        }
        div {
            position: absolute;
            padding-top: 1.5em;
            top: 0;
            left: 0;
            width: 100%;
        }
        h3 {
            font-size: 142.9%;
            margin-bottom: 0.6em;
            margin-top: 2em;

            &:first-child {
                margin-top: 0;
            }
        }
        .indicator {
            border-bottom-width: 1px;
            border-bottom-style: solid;
            position: relative;

            &:after {
                content: ' \2014';
            }
            span {
                border-radius: 7px;
                display: block;
                position: absolute;
                width: 14px;
                height: 14px;
                right: -7px;
                bottom: -7px;
            }
        }
        p {
            margin: 0 0 0.3em;
        }
        .note {
            font-size: 80%;
            font-style: italic;
            margin-top: 7em;
        }
    }
}

/*** Материалы (Materials) ***/
.page-materials {

    .materials-list {
        clear: both;
        float: left;
        width: 100%;

        img {
            float: left;
            margin: 0;
            width: 33.33%;
        }
    }
}
.fancybox-info {
    background: rgba(0, 0, 0, 0.7);
    float: left;
    font-family: @font-base;
    margin: 20px 0 0 20px;
    color: #fff;
    padding: 0 1em 1em;
    width: 30%;
    min-height: 10em;

    p {
        margin: 0.4em 0;
        line-height: 150%;
    }
    div {
        color: #ababab;

        span, a {
            color: #c4b88a !important;
        }
    }
    .tags {
        margin-top: 1em;
        font-style: italic;
    }
}

/*** Обратная связь ***/
.page-contact {

    .diler {
        clear: both;
        margin-top: 5em;
        width: 100%;

        .clearfix();

        .menu-tabs {
            border-right: 1px solid #cdcdcb;
            float: left;
            padding: 1.2em 0;
            margin: 0 0 0 -1px;
            width: 20%;

            li {
                display: block;
                clear: both;
                padding: 0.2em 0.5em;

                &:hover, &.active {
                    background: #000;

                    a {
                        border: none;
                        color: #fff !important;
                    }
                }
            }
            a {
                border-bottom: 1px dashed #000;
                font-family: @font-secondary;
                text-decoration: none !important;
                text-transform: uppercase;
            }
        }
        .menu-content {
            display: none;
            border-left: 1px solid #cdcdcb;
            float: left;
            width: 75%;
            padding-left: 2%;
            margin-left: -1px;

            &.first {
                display: block;
            }
        }
    }
    .feedback {
        clear: both;
        display: block;
        overflow: hidden;
        margin: 5em auto 0;
        text-align: center;
        width: 762px;

        .row {
            float: left;
            clear: both;
            width: 100%;

            div:first-child {
                margin-right: 58px;
            }
        }
        .form-group {
            float: left;
            width: 350px;
        }
        .row-full .form-group {
            width: 760px;
        }
        .success-msg {
            display: none;
            color: #44A608;
        }
        .required label:after {
            content: '*';
        }
        label, input, textarea, .help-block, a, img {
            float: left;
        }
        input, textarea {
            border: 1px solid #000;
            margin-bottom: 1.5em;
            outline: none;
        }
        label {
            font-family: @font-secondary;
            font-size: 120%;
            text-transform: uppercase;
            margin-bottom: 0.3em;
        }
        input {
            height: 29px;
            padding: 0 2%;
            width: 96%;
        }
        textarea {
            padding: 1%;
            height: 80px;
            max-height: 80px;
            width: 98%;
            max-width: 98%;
        }
        .row-last {
            text-align: left;

            .form-group {
                float: left;
                width: 20%;
            }
            input {
                width: 69px;
                text-align: center;
            }
        }
        a {
            color: #b2b2b2 !important;
            width: 58%;

            &:hover {
                color: #000 !important;
            }
        }
        button {
            background: #000;
            border: none;
            float: right;
            color: #fff;
            height: 31px;
            padding: 0 30px;
        }
        img {
            border: 1px solid #000;
            border-right: none;
            width: 72px;
            height: 29px;
        }
        .has-error {

            input, textarea {
                border-color: red;
            }
        }
    }
}

/*** Коллекции (Collections) ***/
.tabs-menu {
    display: block;
    overflow: hidden;
    padding: 0;
    margin: 0;

    &.center {
        text-align: center;
    }

    li {
        display: inline-block;
        margin-left: 1.2em;

        &:first-child {
            margin-left: 0;
        }
    }
    a {
        border-bottom: 1px dashed #fff;
        padding: 0.4em 0.3em 0.2em;
        text-decoration: none;
    }
    a:hover, .active a {
        background: #fff;
        border-bottom: none;
        color: #000 !important;
        text-decoration: none;
    }
}
.tabs-content {
    display: block;
    clear: both;
    overflow: hidden;
    width: 100%;
    text-align: center;
    padding-top: 10%;

    .tabs-tab {
        display: none;

        &:first-child {
            display: block;
        }
    }
    .moto {
        font-family: Georgia, serif;
        font-style: italic;
        font-size: 200%;
        margin: 0.3em 0;
    }
    .author, .more {
        font-family: "PFDinTextCompProRegular", Georgia, serif;
        font-size: 120.0%;
        margin: 0.5em 0 0.3em;
        text-transform: uppercase;
        letter-spacing: -0.05em;
    }
    .more {
        background: #000;
        clear: both;
        text-decoration: none;
        padding: 0.3em;
    }
}