/********************* Виджеты сайта (Widgets) *********************/

/*** Общий класс (Common class) ***/
.widget {
    float: left;
    clear: both;
    overflow: hidden;
    width: 100%;
}

/*** Виджет слайдера (Slider) ***/
#slider-widget {
    background: #000;
    margin-top: -@header-size-height - 1;
    display: none;
    position: absolute;
    overflow: hidden;
    height: 100%;
    z-index: 5;

    .slide {
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        height: 100%;
        display: none;
        overflow: hidden;
        position: relative;

        &:first-child {
            display: block;
        }
    }
    .container {
        position: relative;
        height: 100%;
    }
    /*
    h1 {
        color: #fff;
        border-bottom: 1px solid #fff;
        font-size: 220%;
        font-family: @font-base;
        font-style: italic;
        padding: 0 45px 10px;
        display: inline;
    }
    h2 {
        color: #fff;
        font-size: 150%;
        font-family: "Myriad Pro";
        margin-top: 2em;
    }
    */
    .more {
        color: #fff;
        text-transform: uppercase;
        display: block;
        font-size:120%;
        border-bottom: none;
        opacity: 0.9;
        background: #000;
        text-decoration: underline;
        padding: 0.5em 0.4em 0.3em 0.4em;
        margin: 0 auto;
        width: 40%;

        &:hover {
            text-decoration: none;
        }
    }
    .text {
        text-align: center;
        position: absolute;
        width: 100%;
        bottom: 2em;
        opacity: 0;
    }
    .slider_h1 {
        font-size: 300%;
        text-shadow: 2px 2px #000;
        border-bottom: none;
        opacity: 0.9;
        color: #fff;
    }
    .slider_hr {
        text-shadow: 2px 2px #000;
        opacity: 0.5;
    }
    .slider_h2 {
        font-size: 130%;
        text-shadow: 2px 2px #000;
        border-bottom: none;
        opacity: 0.9;
        line-height: 1.6;
        color: #fff;
    }
    /*
    .text-tl, .text-tm, .text-tr {
        top: 15%;
    }
    .text-ml, .text-mm, .text-mr {
        top: 35%;
    }
    .text-bl, .text-bm, .text-br {
        bottom: 5%;
    }
    .text-tl, .text-ml {
        left: 0;
    }
    .text-tm, .text-mm {
        left: 25%;
    }
    .text-tr, .text-mr {
        right: 0;
    }
    .text-bl {
        left: 0;
    }
    .text-bm {
        left: 25%;
    }
    .text-br {
        right: 0;
    }
    */
    .controls-nav {
        position: absolute;
        top: 0;
        height: 100%;
        width: 47px;

        span {
            background-size: 47px 103px;
            background-repeat: no-repeat;
            display: block;
            overflow: hidden;
            position: absolute;
            top: 50%;
            margin-top: -44px;
            height: 103px;
            width: 100%;
            text-indent: -9999px;
        }
    }
    .prev {
        left: 2%;

        span {
            background-image: url('../img/black/1x/arrow_left.png');
            right: 0;
        }
    }
    .next {
        right: 2%;

        span {
            background-image: url('../img/black/1x/arrow_right.png');
            left: 0;
        }
    }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    #slider-widget {
        .prev span {
            background-image: url('../img/black/2x/arrow_left.png');
        }
        .next span {
            background-image: url('../img/black/2x/arrow_right.png');
        }
    }
}

/*** Виджет последней работы (Last Work/Last Image) ***/
#last-image-widget {
    margin-bottom: 1em;

    img {
        width: 100%;
    }
    p {
        font-style: italic;
        color: #949494;
        margin: 0 0 0.7em;
    }
}

/*** Виджет услуг (Services) ***/
#services-widget {

    article {
        float: left;
        overflow: hidden;
        width: 25%;
        text-align: center;
    }
}

/*** Виджет ремонта и сервисов (Repair&Facilities) ***/
#repair-widget, #facilities-widget {
    float: left;
    width: 50%;
    overflow: hidden;

    h1 {
        float: left;
        clear: both;
    }

    & > ul {
        border-right: 1px solid #cdcdcb;
        clear: both;
        float: left;
        margin: 0 0 0 -1px;
        padding: 10px 0;
        width: 35%;

        li {
            display: block;
            clear: both;
            overflow: hidden;
            list-style: none;
        }
        a {
            display: block;
            padding: 10px;
            overflow: hidden;
            outline: none;
            text-decoration: none;
            color: #000;
        }
        a:hover, .active a {
            background: #000;
            color: #fff;
            cursor: pointer;
        }
    }
    h2 {
        line-height: 150%;
        float: left;
        border-bottom: 1px dashed #000;
        padding: 0;
        margin: 0;
    }
    div {
        border-left: 1px solid #cdcdcb;
        float: left;
        overflow: hidden;
        margin: 0 0 0 -1px;
        padding-left: 5%;
        width: 60%;

        ul {
            float: left;
            display: none;
            margin: 0;
            padding: 20px 0;
            width: 100%;

            &:first-child {
                display: block;
            }
        }
        li {
            display: block;
            list-style: none;
            overflow: hidden;
        }
        a {
            font-size: 121.4%;
            font-style: italic;
            line-height: 175%;
        }
        p {
            color: #4b4b4b;
            font-style: italic;
        }
    }
}

/*** Виджет новостей (News) ***/
#news-widget {

    article {
        border-bottom: 1px solid #969696;
        margin-bottom: 0.3em;
        display: block;
        clear: both;
        width: 100%;

        .clearfix();

        &:last-child {
            border-bottom: none;
        }
        h3 {
            margin-top: 0;
        }
        & > p, a {
            font-style: italic;
            color: #959595;
        }
        & > p {
            margin-top: 0;
        }
        div {
            font-family: Helvetica, Arial, sans-serif;
        }
        img {
            float: left;
            margin: 0 1em 0.7em 0;
        }
    }
}

/*** Виджет статей и информации (Info & news) ***/
#info-widget {

    ul {
        display: block;
        padding: 0;
        margin: 0;
    }
    li {
        list-style: none;
        font-style: italic;
        display: block;
        line-height: 200%;
        clear: both;
        color: #000;
    }
}

/*** Виджет архива (Archive) ***/
#archive-widget {

    ul {
        display: block;
        margin: 0;
        padding: 0;
        font-style: italic;

        ul {
            display: none;
            padding: 0 0 0 30px;

            li {
                display: list-item;
                list-style: disc;
            }
        }
    }
    li {
        line-height: 175%;
        display: block;
        list-style: none;
        outline: none;
        cursor: pointer;

        &:focus ul {
            display: block;
        }
        &:focus strong {
            border: none;
        }
    }
    strong {
        border-bottom-width: 1px;
        border-bottom-style: dashed;
    }
}

/*** Форма подписки на нововсти (Subscription) ***/
#subscription-widget {

    form {
        clear: both;
        overflow: hidden;
        width: 100%;

        input {
            border-width: 1px;
            border-style: solid;
            border-radius: 3px 0 0 3px;
            padding: 0 5px;
            float: left;
            font-style: italic;
            outline: none;
            height: 30px;
            width: 62%;
        }
        .has-error input {
            border-color: red !important;
        }
        button {
            font-style: italic;
            border: none;
            border-radius: 0 3px 3px 0;
            padding: 0;
            height: 32px;
            width: 34%;
        }
        p {
            float: left;
            clear: both;
            margin-top: 1.2em;
            font-style: italic;
        }
        .success-msg {
            display: none;
            margin-bottom: 1em;
            color: #44A608 !important;
        }
    }
}

/*** Виджет социальных сетей (Social) ***/
#social-widget {

    ul {
        display: block;
        margin: 0;
        padding: 0;
        font-style: italic;

        a {
            background-repeat: no-repeat;
            background-position: 50% 0;
            float: left;
            padding-top: 38px;
            margin-left: 20px;
        }
        .twitter {
            background-image: url('../img/common/twitter.png');
        }
        .instagram {
            background-image: url('../img/common/instagram.png');
        }
        .vkontakte {
            background-image: url('../img/common/vk.png');
        }
        li {
            display: block;
            float: left;
            list-style: none;

            &:first-child a {
                margin-left: 0;
            }
        }
    }
    p {
        clear: both;
        float: left;
        font-style: italic;
        margin-top: 1em;
    }
}
#tags-widget {

    p {
        font-style: italic;
    }
}