/********************* Шаблон (Template) *********************/
/*** Основные правила (Main rules) ***/
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
/*** Общие правила (Common rules) ***/
#supercontainer,
#header,
#content,
#footer {
  clear: both;
}
#supercontainer,
#content,
#footer {
  overflow: hidden;
}
/*** Глобальная обёртка (Supercontainer) ***/
#supercontainer {
  min-height: 100%;
  margin-bottom: -61px;
  padding-bottom: 81px;
  z-index: 1;
  width: 100%;
}
/*** Контент (Content) ***/
/*** Подвал (Footer) ***/
#footer {
  border-top: 1px solid #ddd;
  position: relative;
  line-height: 60px;
  height: 60px;
  z-index: 2;
}
/********************* Отдельные страницы админки *********************/
.gallery-form-image {
  float: left;
  width: 100%;
  margin: 0 0 10px 0;
  overflow: hidden;
}
.gallery-form-image-delete {
  background: #f38083;
  color: #fff;
  cursor: pointer;
  float: left;
  width: 100%;
  line-height: 30px;
  text-align: center;
}
button.btn.btn-primary.pull-right{
position: fixed;
bottom: 20px;
right: 20px;
z-index: 1234;
}